<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Connection strings for local Oracle database -->
    <add name="HRIMS_DB" connectionString="User Id=system;Password=root;Data Source=//127.0.0.1:1521/xe" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="HRDATA_DB" connectionString="User Id=system;Password=root;Data Source=//127.0.0.1:1521/xe" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- Active Directory Connection Path -->
    <add key="ADConnectionPath" value="LDAP://192.168.0.111/DC=ad01,DC=yajnesh,DC=com" />

    <!-- Configurable Table Names for easy Cutover (backup table -> live table) -->
    <add key="TrainingTableName" value="hrims.bkup_hr_emp_training_21jul2026" />
    <add key="CourseCategoryTableName" value="hrims.hr_course_category" />
    <add key="TrainingStatusTableName" value="hrims.hr_training_status" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="1440" defaultUrl="TrainingStatus.aspx" />
    </authentication>
    <sessionState timeout="1440" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Static">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
